# Ignore the build and lib dirs
build
linked

# Ignore private repos
NonLinear/

# Ignore random project stuff
.tern-port
.tern-project
clustered.sublime-project
clustered.sublime-workspace

# Ignore Doxygen and symlinks
Doxyfile
Website

# Ignore Doxygen templates
new_header.html
new_footer.html
new_stylesheet.css

# Ignore Eclipse
*.cproject
*.project
