#CORE

echo
echo Making core library
echo

cd ClusteredCore/$1
make
cd ../../

#END
#FORCE

echo
echo Making %NAME%
echo

cd %NAME%/$1
make
cd ../../

#END
#UI

echo
echo Making user interface
echo 

cd ClusteredUI/$1
make
make post-build
cd ../../

#END
